### Django/Python ###
*.log
*.pot
*.pyc
*.pkl
__pycache__/
db.sqlite3
b.sqlite3-journal
media/
collectstatic/
.idea/
venv/

### Node ###
node_modules/
package-log.json

### Kibble ###
Kibble/wkhtmltox
Kibble/uploads
Kibble/celerybeat-schedule

### Vagrant ###
.vagrant/
secret.yml

### MAC files ###
.DS_Store

### Delorean ###
Delorean/cc.en.300.bin
Delorean/models/