### Django/Python ###
*.log
*.pot
*.pyc
__pycache__/
production_settings.py
db.sqlite3
b.sqlite3-journal
media/
collectstatic/
.idea/
venv/


### Kibble ###
Kibble/wkhtmltox
Kibble/uploads
Kibble/celerybeat-schedule

### Vagrant ###
.vagrant/
secret.yml

### MAC files ###
.DS_Store

### Delorean ###
Delorean/cc.en.300.bin
Delorean/models/