{% extends "_layout.html" %}

{% block extra_css %}
<link href="/static/css/login.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}



{% block content %}

<div class="wrap">
 <span class="badrequest">{{ message }} (400)</span>
</div>

{% endblock %}



{% block extra_js %}
    {% if HOT_LOAD %}
        <script type="text/javascript" src="{{ REACT_LOCAL_ADDRESS }}/static/react/build/header.entry.js"></script>
    {% else %}
        <script type="text/javascript" src="/static/react/build/header.entry.js?{{ git_revision }}"></script>
    {% endif %}
{% endblock %}
