<!DOCTYPE html>
{% load url from future %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width ,  user-scalable=no">
    <meta name="description" content="Beagle">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16" />
    <title>{% block title %}Beagle{% endblock %}</title>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <!-- global partials -->
    {% include "global_partials.html" %}
    <!-- /global partials -->
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
    <script src="/static/js/jquery.min.js"></script>
  </head>
  <body {% block body_annotations %}{% endblock %}>
  {% block conversion_scripts %}{% endblock %}
  {% include "user_json_data.html" %}
  <link rel="stylesheet" href="/static/css/base-header-style.css" />
  <div id="react-header">
    <div id="header" class="beagle-header">
      <div class="header-wrap" data-reactid=".0.1">
        <div class="header-logo" data-reactid=".0.1.0">
          <a href="/" title="Beagle" data-reactid=".0.1.0.0"></a>
        </div>
        <ul class="header-right-nav" data-reactid=".0.1.1">
          <li class="header-nav-item" data-reactid=".0.1.1.0">
            {% if not request.user.is_authenticated %}
              <a href="/login" class="header-nav-sign-in" data-reactid=".0.1.1.0.0">Sign In</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="layout">
    <div style="background:#5D101A;">
      <noscript>
      <div style="margin:0 auto;width:600px;color:white;font-size:20px;line-height:28px;text-align:center">
        It appears that Javascript is disabled in your browser! The Beagle web experience requires Javascript.
        Please visit <a href="http://enable-javascript.com/">http://enable-javascript.com/</a> for help enabling Javascript in your browser.
      </div>
      </noscript>
      {% block extended_header %}
      {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
  </div>
  <div class="footer">
    <div class="footer-wrap">
      Copyright © 2017  Beagle Inc. All rights reserved.
      <a href="/terms_and_conditions" style="margin-left:165px;">Terms and Conditions</a>
    </div>
  </div>
  <!--<script type="text/javascript" src="//use.typekit.net/kil5ski.js"></script>-->
  <!--<script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
  {% block extra_js %}{% endblock %}
</body>
</html>
