{% extends "_layout.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div id="login-panel">
    <h2>Reset Password</h2>
    {% include "form_update_password.html" %}
</div>

{% endblock %}

{% block extra_js %}
    {% if HOT_LOAD %}
        <script type="text/javascript" src="{{ REACT_LOCAL_ADDRESS }}/static/react/build/header.entry.js"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'react/build/header.entry.js?{{ git_revision }}' %}"></script>
    {% endif %}
{% endblock %}
