DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': '{{ db_host }}',
        'PORT': '{{ db_port }}'
    }
}

REDIS_URL = '{{ REDIS_URL }}'

SENDGRID_API_KEY = '{{ SENDGRID_API_KEY }}'

SLACK_WEBHOOK = '{{ SLACK_WEBHOOK }}'
SLACK_CHANNEL = '{{ SLACK_CHANNEL }}'

GITHUB_LOGIN_CLIENT_ID = '{{ GITHUB_LOGIN_CLIENT_ID }}'
GITHUB_LOGIN_SECRET = '{{ GITHUB_LOGIN_SECRET }}'

GITHUB_OAUTH_CLIENT_ID = '{{ GITHUB_OAUTH_CLIENT_ID }}'
GITHUB_OAUTH_SECRET = '{{ GITHUB_OAUTH_SECRET }}'

GITHUB_APP_ID = '{{ GITHUB_APP_ID }}'
GITHUB_APP_SECRET = '{{ GITHUB_APP_SECRET }}'

BITBUCKET_LOGIN_CLIENT_ID = '{{ BITBUCKET_LOGIN_CLIENT_ID }}'
BITBUCKET_LOGIN_SECRET = '{{ BITBUCKET_LOGIN_SECRET }}'

BITBUCKET_OAUTH_CLIENT_ID = '{{ BITBUCKET_OAUTH_CLIENT_ID }}'
BITBUCKET_OAUTH_SECRET = '{{ BITBUCKET_OAUTH_SECRET }}'

GITLAB_LOGIN_CLIENT_ID = '{{ GITLAB_LOGIN_CLIENT_ID }}'
GITLAB_LOGIN_SECRET = '{{ GITLAB_LOGIN_SECRET }}'

GITLAB_OAUTH_CLIENT_ID = '{{ GITLAB_OAUTH_CLIENT_ID }}'
GITLAB_OAUTH_SECRET = '{{ GITLAB_OAUTH_SECRET }}'

DEBUG = False
HOT_LOAD = False
