#django-tracking==0.4.1
cssselect==1.1.0
decorator==4.0.9
django-bulk-update==1.1.6
#django-longerusernameandemail==0.5.7
#django-mobile==0.7.0
django-notifications-hq==1.6.0
django-paypal==1.1
django-picklefield==3.0.1
django-redis-cache==2.1.1
django-user-sessions==1.7.1
ecdsa==0.11
flower==0.9.2
freezegun==0.3.6
html5lib==0.999
inflection==0.3.1
ipaddress==1.0.16
ipython==5.3.0
langdetect==1.0.5
locustio==0.7.3
ndg-httpsclient==0.4.0
newspaper3k==0.2.8
nltk==3.5
pycrypto==2.6.1
PyPDF2==1.26.0
PyReadableDiff==0.2.3
python-intercom==2.1.1
python-redis-lock==2.3.0
selenium==2.53.6
Unidecode==0.4.16
validators==0.10.1
wikipedia==1.4.0
