.confirm-delete-modal-title {
  margin: 0;
}

.confirm-delete-modal-content {
  margin-bottom: 15px;
  font-size: 14px;
}

.confirm-delete-modal-buttons {
  text-align: right;
}

.confirm-delete-modal-button {
  margin-left: 8px;
}