DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': '{{ db_host }}',
        'PORT': '{{ db_port }}'
    }
}

SENDGRID_API_KEY = '{{ SENDGRID_API_KEY }}'
REDIS_URL = '{{ REDIS_URL }}'

DEBUG = False
HOT_LOAD = False
