@font-face {
  font-family: Concourse T2;
  src: url('https://dogbone-static.s3.amazonaws.com/static/fonts/concourse-t2-regular.otf')
}

@font-face {
  font-family: Concourse T7;
  src: url('https://dogbone-static.s3.amazonaws.com/static/fonts/concourse-t7-regular.otf')
}

@font-face {
  font-family: Concourse C2;
  src: url('https://dogbone-static.s3.amazonaws.com/static/fonts/concourse-c2-regular.otf')
}
