@charset "UTF-8";
h1 {
  font-family: 'Concourse T7', Helvetica, Arial, sans-serif;
  margin: 40px 0 0;
  padding: 0;
  color: black; }

h2 {
  font-family: 'Concourse C2', Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
  color: black; }

.subscription-options {
  display: flex;
  justify-content: center;
  flex-align: column;
  margin: 30px 0px; }
  .subscription-options .subscription {
    flex: 1;
    max-width: 500px;
    margin: 0px 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.35); }
    .subscription-options .subscription .title {
      font-family: 'Concourse C2', Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
      text-align: center; }
    .subscription-options .subscription .price-info {
      padding: 10px;
      text-align: center; }
      .subscription-options .subscription .price-info .price, .subscription-options .subscription .price-info .price span {
        font-size: 32px;
        font-family: 'Concourse T7', Helvetica, Arial, sans-serif; }
      .subscription-options .subscription .price-info .price .old {
        color: red;
        text-decoration: line-through; }
      .subscription-options .subscription .price-info .coupon {
        padding: 10px; }
        .subscription-options .subscription .price-info .coupon input {
          color: white;
          width: 240px;
          font-size: 14px;
          background: none;
          background-color: rgba(255, 255, 255, 0.1);
          border: none;
          outline: none;
          padding: 10px; }
        .subscription-options .subscription .price-info .coupon button {
          background: rgba(255, 255, 255, 0.2);
          border: none;
          padding: 9px; }
    .subscription-options .subscription .benefits {
      background-color: #eee;
      color: #676767;
      font-size: 14px;
      line-height: 20px; }
      .subscription-options .subscription .benefits li {
        padding: 12px 0;
        padding-left: 40px;
        padding-right: 20px; }
        .subscription-options .subscription .benefits li:before {
          content: "✓";
          display: inline-block;
          width: 20px;
          margin-left: -20px; }
      .subscription-options .subscription .benefits li:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.04); }
    .subscription-options .subscription .buy-now {
      padding: 10px;
      background-color: white;
      text-align: center; }
      .subscription-options .subscription .buy-now .buy-title {
        padding-top: 15px;
        font-family: 'Concourse T7', Helvetica, Arial, sans-serif;
        font-size: 24px; }
    .subscription-options .subscription.annual .price-info {
      color: white;
      background-color: #5D101A; }
    .subscription-options .subscription.annual .title {
      color: white;
      background-color: #5D101A; }

.benefit-hero {
  text-align: center;
  font-family: 'Concourse C2', Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin: 20px 0 30px; }

.for-enterprise {
  display: flex;
  flex-direction: row;
  padding: 10px;
  max-width: 430px;
  margin: 10px auto;
  border-radius: 8px;
  border: 1px solid #943f4a;
  color: #5D101A;
  background-color: white; }
  .for-enterprise .icon {
    display: flex;
    background-image: url("/static/img/GlassesBeagle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position-y: 50%; }
  .for-enterprise .text {
    padding: 10px;
    flex: 1; }

/*# sourceMappingURL=_purchase_page.css.map */
