.footer {
  border-top: 1px solid #ddd;
  background: #fff;
  display: block;
  text-align: left;

  .footer-wrap {
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 22px;
    color: #4a4a4a;
    display: block;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px 20px;
  }
}