[program:gunicorn]
user={{ server_user }} ;
command={{ virtualenv_path }}/bin/gunicorn {{ application_name }}.wsgi:application --bind 127.0.0.1:8000 --log-syslog --log-syslog-facility daemon --log-syslog-to unix:///dev/log#dgram --log-level info --worker-class eventlet --timeout 60  --workers 6
directory={{ app_location }} ;
