{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}
{% block title %}
    Add treat as rule
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <span>Add treat as rule</span>
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
    {% if created_rule_msg %}
        {{ created_rule_msg }}
    {% endif %}
    <form action="add-treat-as-rule" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}
